<h1>Все автомобили</h1>
<h2>@Model.currentCategory</h2>
@{ 
    foreach (var car in Model.allCars)
    {
        <div>
            <h2>Модель: @car.name</h2>
            <p>Цена: @car.price.ToString("c")</p>
        </div>
    }
}
